#pageContent{width: 700px;margin: 20px auto 0;border: 1px solid yellowgreen}
#pageContent ul{padding-top: 100px;}
#pageContent li{margin-left: 200px;height: 30px;line-height: 30px;}
#pages{ color:#666;margin: 20px auto 0;width:400px;}
#pages span{ border:1px solid #ddd; line-height:1.2; margin:0 3px; padding:3px 4px; color:#ccc }
#pages span a{ text-decoration:none; color:#333333}
#pages span a:hover{}
#pages strong{ color:#FF0000; padding:0 3px; font-weight:bold}